.list-container {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.list-header {
  margin-top: 0;
  margin-bottom: 15px;
}

.list {
  margin: 0;
  padding: 0;
}

.add-task-container {
  margin-top: 20px;
}

.add-task-input {
  height: 30px;
  margin-right: 4px;
  border-color: lightgray;
  border-radius: 4px;
}

.button {
  border-radius: 5px;
  border-color: transparent;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.button--add {
  height: 35px;
  background-color: rgb(81, 239, 81);
  font-weight: bold;
}
.button--add:hover {
  background-color: rgb(70, 226, 70);
}
.button--add:disabled {
  opacity: 0.5;
}