<div class="list-container">
  <h1 class="list-header">Todo List</h1>
  <ul class="list">
    <li class="list-item">
      <div class="list-item-text">Buy a new gaming laptop</div>
      <button class="list-item-button">Delete</button>
    </li>
    <li class="list-item">
      <div class="list-item-text">Complete previous task</div>
      <button class="list-item-button">Delete</button>
    </li>
    <li class="list-item">
      <div class="list-item-text">Create some angular app</div>
      <button class="list-item-button">Delete</button>
    </li>
  </ul>
  <div class="add-task-container">
    <input type="text" class="add-task-input" placeholder="Add your new todo" />
    <button class="add-task-button">Add task</button>
  </div>
</div>
